body {
    background: url('70869227-vue-de-dessus-du-bureau-lieu-de-travail-avec-ordinateur-portable-souris-plante-café-papier-crayon-text.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }


  